div.content2{
    text-align: justify;
    margin: 92px;
    
  }
  @media  (max-width: 600px) {
  div.content2{
    text-align: justify;
    margin: 12px;
  }
}
div.steps{
    text-align: center;
    margin:auto;
    font-weight:bold;
    text-decoration:underline;   
}
pre{
  
  margin:auto;
  width:fit-content;
  border-style: solid ;
  border-color: black;
  border-width: medium;
  font-size:1vw;
}
@media  (max-width: 600px) {
  pre{
    
    margin:auto;
    width:fit-content;
    border-style: solid ;
    border-color: black;
    border-width: medium;
    font-size:3vw;
  }
}