div.content2{
    text-align: justify;
    margin: 92px;
    
  }
  @media  (max-width: 600px) {
  div.content2{
    text-align: justify;
    margin: 12px;
  }
}
div.steps{
    text-align: center;
    margin:auto;
    font-weight:bold;
    text-decoration:underline;   
}
#down{
  background-color: white;
  box-shadow: 0 0 5px black;
}
code{
  padding: 0%;

}
pre{
  width: fit-content;
  margin:auto;
  padding: 0%;
  background-color:white;
  font-size:x-small;
  box-shadow: 0 0 5px black;
}
@media  (max-width: 600px) {
  pare{
    
    margin:auto;
    border-style: solid ;
    border-color: black;
    border-width: medium;
    font-size:3vw;
  }
}