div.content2{
    text-align: justify;
    margin: 92px;
    
  }
  @media  (max-width: 600px) {
  div.content2{
    text-align: justify;
    margin: 12px;
  }
}
div.steps{
    width:fit-content;
    margin:auto;
    font-weight:bold;
    text-decoration:underline;   
}
div#code{
  width:fit-content;
  margin:auto;
  border-style: solid ;
  border-color: black;
  border-width: medium;
  overflow: hidden;
  font-size:1vw;
}
@media  (max-width: 600px) {
  div#code{
    width:fit-content;
    margin:auto;
    border-style: solid ;
    border-color: black;
    border-width: medium;
    font-size:1vw;
   
  }
}